[submodule "thirdparty/Vera"]
	path = thirdparty/Vera
	url = https://github.com/ketsebaoteth/Vera.git
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "thirdparty/msdfgen"]
	path = thirdparty/msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
[submodule "thirdparty/msdf-atlas-gen"]
	path = thirdparty/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
[submodule "thirdparty/harfbuzz"]
	path = thirdparty/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "thirdparty/SheenBidi"]
	path = thirdparty/SheenBidi
	url = https://github.com/Tehreer/SheenBidi.git
